<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.username.label }}
        {{ form.username }}
        <br>
        {{ form.email.label }}
        {{ form.email }}
        <br>
        {{ form.password1.label }}
        {{ form.password1 }}
        <br>
        {{ form.password2.label }}
        {{ form.password2 }}
        <br>
        <input type="submit" name="Create user">
    </form>
    {{ form.errors }}
</body>
</html>